@import "../../global.scss";

.portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .top-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 36px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    font-family: "Coolvetica", sans-serif;

    @include mobile{
      margin: 10px 0px;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 16px;
    }
  }

  .container {
    width: 90%; // 70
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px; // !!


    @include mobile{
      width: 100%;
    }

    @include sm-mobile{
      justify-content: space-around;
      margin-top: 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 320px; // 220
      height: 180px; // 150
      border-radius: 15px;
      border: 1px solid rgb(226, 176, 136); // lightgrey
      margin: 5px 10px;
      color: $darkBrown;
      font-family: "Coolvetica", sans-serif;
      font-weight: 100;
      position: relative;
      transition: all 1s ease;
      // !! flex: 1;

      @include mobile{
        margin: 10px 5px;
        width: 180px;
        height: 100px;
      }

      @include sm-mobile{
        margin: 0;
        width: 170px;
        height: 80px;
      }

      h3 {
        position: absolute;
        font-size: 14px;
        opacity: 0.2;
        transition: all 1s ease;

        @include mobile{
          text-align: center;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $lightYellow;
        cursor: pointer;

        img {
          opacity: 0.1;
          z-index: 0;
        }

        h3 {
          opacity: 1;
        }
      }
    }
  }
}
