@import "../../global.scss";

.studies {
    background-color: $darkYellow; // !!
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile {
            display: none;
        }

        &.left {
            left: 100px;
            transform: rotate(90deg);
        }

        &.right {
            right: 100px;
            transform: rotate(-90deg);
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            height: calc(100vh - 70px);
            flex-direction: column;
            justify-content: center;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $darkBrown;
                box-shadow: 0px 0px 15px -8px black;

                @include mobile {
                    width: 80%;
                    height: 150px;
                    margin: 15px 0;
                }

                .left {
                    flex: 4;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 10px;

                    .left-container {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile{
                            width: 100%;
                            height: 90%;
                            padding: 0 5px;
                        }

                        .img-container {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $darkYellow;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 25px;
                            }

                            @include mobile {
                                display: none;
                            }
                        }

                        h2 {
                            font-size: 20px;

                            @include mobile {
                                font-size: 12px;
                            }
                        }

                        p {
                            font-size: 13px;
                            
                            @include mobile {
                                font-size: 10px;
                            }
                        }

                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;

                            @include mobile {
                                font-size: 8px;
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;

                    img {
                        width: 430px;

                        @include mobile{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}