// DARK MODE PALETTE
$lightYellow: #ffe240;
$darkYellow: #ffa800;
$lightBrown: #9d5a0b;
$softBrown: #5a3908;
$darkBrown: #1f1301;

// FONT
@font-face {
  font-family: "Coolvetica";
  src: url("assets/fonts/CoolveticaRg-Regular.woff2") format("woff2");
}

// MIXIN

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm-mobile {
  @media (max-width: 425px) {
    @content;
  }
}